# Игнорируем все платформы
/windows/
/macos/
/linux/
/ios/
# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/app/google-services.json
android/app/keystore.jks

# IDE related
.idea/
*.iml
.vscode/
